* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(41, 41, 41);
    color: white;
}

h2 {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 10%;
}

#divInputsButton {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 20%;
    display: flex;
}

#divInputs input {
    padding: 5px;
    outline: none;
}

#divInputsButton button {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    outline: none;
    width: 60px;
}

#divInputsButton button:hover {
    background-color: rgb(83, 122, 241);
}

table {
    width: 90%;
    border: none;
    border-collapse: collapse;
}

#usuarios {
    /* nesta div está a table */
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 55%;
    width: 90%;
}

tbody {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody::-webkit-scrollbar-thumb {
    background-color: royalblue;
}

thead,
tbody {
    display: block;
}

th,
td {
    padding: 10px;
    text-align: center;
    width: 300px;
    font-size: 15px;
}

tr th {
    background-color: royalblue;
}

td button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

@media (min-width: 400px) {

    h2 {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        font-size: 12px;
    }

    table {
        transform: translate(-50%, -50%);
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        font-size: 10px;
    }

    td button {
        scale: 0.8;
    }
}